.btn--secondary, .btn--primary {
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
}
.btn--secondary:hover, .btn--primary:hover, .btn--secondary:focus, .btn--primary:focus {
  cursor: pointer;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
  background-color: #ffffff;
}
.section--no-top-padding {
  padding-top: 0;
}
.section--primary-bg-color {
  background: #f5f4fa;
}
.section--bg-color {
  border-top: 1px solid #ececec;
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.header {
  background-color: #ffffff;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--grey {
  color: #757575;
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child), .nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item {
  position: relative;
}
.nav__link {
  display: flex;
  flex-wrap: wrap;
  color: #212121;
}
.nav__link:active::after {
  content: " ";
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
}

.logo {
  margin-right: 93px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__text {
  color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.btn--primary {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--primary:hover, .btn--primary:focus {
  background-color: #188ce8;
}

.btn--secondary {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--secondary:focus, .btn--secondary:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.socials__item {
  display: flex;
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.socials__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.socials__link--black-bg {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__stimulus {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__link {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__inner-wrapper {
  display: flex;
}
.sub-form__btn {
  display: inline-flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}
.sub-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.sub-form__input {
  min-width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.sub-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  letter-spacing: 0.48px;
}
.sub-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  letter-spacing: 0.48px;
}

.filters {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}
.projects__text-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eee;
  border-top: none;
}
.projects__title {
  margin-bottom: 4px;
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__description {
  margin: 0;
  line-height: 1.88;
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.54px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects__overlay {
  transform: translateY(0);
}/*# sourceMappingURL=portfolio-source.css.map */