.address__link, .footer__logo, .logo, .header__link {
  display: inline-flex;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .footer__logo:hover, .logo:hover, .header__link:hover, .address__link:focus, .footer__logo:focus, .logo:focus, .header__link:focus {
  color: #2196f3;
}

.btn--secondary, .btn--primary {
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
}
.btn--secondary:hover, .btn--primary:hover, .btn--secondary:focus, .btn--primary:focus {
  cursor: pointer;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #ffffff;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    position: relative;
    justify-content: space-between;
    padding: 10px;
  }
}
.header__inner-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__inner-wrapper {
    display: none;
  }
  .header__inner-wrapper.is-open {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    background-color: #ffffff;
  }
}
.header__link {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__button.is-open .header__icon-menu {
  display: none;
}
.header__button .header__icon-cross {
  display: none;
}
.header__button.is-open .header__icon-cross {
  display: block;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
.logo__text {
  color: #2196f3;
}

.btn--primary {
  min-width: 200px;
  padding: 10px 24px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--primary:hover, .btn--primary:focus {
  background-color: #188ce8;
}

.btn--secondary {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--secondary:focus, .btn--secondary:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item {
  position: relative;
}
.nav__link {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}
.nav__link:active::after {
  content: " ";
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
}

.contacts {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    align-self: stretch;
  }
}
.contacts__link {
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
  .contacts__link[href="mailto:info@devstudio.com"] {
    align-items: end;
  }
  .contacts__link[href="tel:+38096111111"] {
    align-items: start;
  }
}

.contacts__item {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__icon {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
  }
  a[href="mailto:info@devstudio.com"] .contacts__icon {
    width: 14px;
    height: 10px;
  }
  a[href="tel:+38096111111"] .contacts__icon {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
  a[href="mailto:info@devstudio.com"] .contacts__icon {
    width: 16px;
    height: 12px;
  }
  a[href="tel:+38096111111"] .contacts__icon {
    width: 10px;
    height: 16px;
  }
}

.section {
  padding: 60px 0;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section--no-top-padding {
  padding-top: 0;
}
.section--primary-bg-color {
  background: #f5f4fa;
}
.section--bg-color {
  border-top: 1px solid #ececec;
}
.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.84px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 1.08px;
  }
}
@media screen and (max-width: 1199px) {
  .section--hidden {
    display: none;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}
.projects__text-wrapper {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 23px;
  padding-right: 23px;
  border: 1px solid #eee;
  border-top: none;
}
@media screen and (min-width: 768px) {
  .projects__text-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.projects__title {
  margin-bottom: 4px;
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.projects__description {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

.projects__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc((100% - 60px) / 3);
  }
}
.projects__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 77px 24px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.54px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .projects__overlay {
    padding: 49px 24px 77px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__overlay {
    padding: 63px 24px;
  }
}
.projects__item:hover .projects__overlay {
  transform: translateY(0);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1199px) {
  .footer__inner-wrapper {
    margin-bottom: 60px;
  }
}
.footer__logo {
  margin-right: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__stimulus {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .address {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    gap: 9px;
  }
}

.address__link {
  color: #ffffff;
}
.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.socials__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.socials__link--black-bg {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .sub-form__inner-wrapper {
    display: flex;
  }
}
.sub-form__btn {
  display: inline-flex;
  align-items: center;
  padding-left: 31px;
  padding-right: 28px;
}
.sub-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .sub-form__icon {
    margin-left: 10px;
  }
}

.sub-form__input {
  min-width: 100%;
  padding: 14px 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .sub-form__input {
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .sub-form__input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub-form__input {
    min-width: 358px;
    margin-right: 12px;
  }
}
.sub-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.sub-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=portfolio.css.map */