*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.header-background {
    background-color: #FFFFFF;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
}

.page-header {
    justify-content: center;
    align-items: center;
    gap: 344px;
    padding: 24px 0;
}

.nav {
display: flex;
align-items: center;
gap: 93px;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #000000;
}

.logo > span {
    color: #2196F3;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu a  {
font-weight: 500;
line-height: 1.15;
letter-spacing: 0.02em;
color: #212121;
}

.menu a:hover, .menu a:focus, .menu a:active  {
color: #2196F3;
}

.header-contacts {
    display: flex;
    gap: 50px;
}

.header-contacts a {
font-weight: 500;
line-height: 1.15;
letter-spacing: 0.02em;
color: #757575;
}

.header-contacts a:hover, .header-contacts a:focus, .header-contacts a:active {
    color: #2196F3;
}

.order-background {
    background-color: #2F303A;
}

.order-container {
    flex-direction: column;
    align-items: center; 
    gap: 30px;
    padding: 200px 0;
}

.order-header {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin: 0;
}

.order-button {
width: 216px;
height: 50px;
padding: 0;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
color: #FFFFFF;
}

.order-button:active {
    background: #188CE8;
}

.advantages-container {
    flex-direction: column;
    align-items: center;
    padding: 94px 0;
}

.advantages-header {
    display: none;
}

.advantages-list {
    display: flex;
    gap: 30px;
}

.advantages-list > li {
    width: 270px;
}

.advantages-list h3 {
margin: 0 0 10px;
font-weight: 700;
line-height: 1.15;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.advantages-list p {
margin: 0;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.specialization-section {
    flex-direction: column;
    align-items: center;

}

.specialization-header {
    text-align: center;
}

.specialization-list {
    display: flex;
    gap: 30px;
}

.team-section {
    flex-direction: column;
    align-items: center;
}

.team-header {
    text-align: center;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list > li {
text-align: center;
}

.page-footer {
    flex-direction: column;
    padding-left: 215px;
}