/* main-text-color #757575 */
/* secondary-text-color #212121 */
/* accent-color #2196F3 */
/* secondary-black-color #000000 */
/* primary-white-color #FFFFFF */
/* primary-bg-color #F5F4FA */
/* accent-bg-color #2F303A */

/* Custom css values */
:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #000000;
  --primary-white-color: #ffffff;
  --primary-bg-color: #f5f4fa;
  --accent-bg-color: #2f303a;
  --header-border-color: #ececec;
  --project-border-color: #eee;
  --main-icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Ultimate styles*/

body {
  color: var(--main-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  /* width: 100%;
  height: auto; */
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Sections */

.section {
  padding: 94px 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Buttons */

.btn {
  display: inline-block;
  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

/* Page header */

.page-header {
  background-color: var(--primary-white-color);
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--time-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list > .item:not(:last-child),
.contacts > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .item {
  position: relative;
}

.nav-link {
  display: flex;
  flex-wrap: wrap;

  color: var(--secondary-text-color);
}

.nav-link:active::after {
  content: '';
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
}

/* Logo */

.logo {
  margin-right: 93px;

  color: var(--secondary-accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo > span {
  color: var(--accent-color);
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-link {
  color: var(--main-text-color);
}

/* Hero */

.hero {
  max-width: 1600px;
  min-height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: 1px solid var(--header-border-color);

  background-color: var(--accent-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button {
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--time-function);
}

.primary-button:hover,
.primary-button:focus {
  background-color: #188ce8;
}

/* Features */

.section.no-bottom-padding {
  padding-bottom: 0;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-item {
  width: calc((100% - 3 * 30px) / 4);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: var(--primary-bg-color);
}

.icon-feature {
  width: 70px;
  height: 70px;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
}

/* Activity */

.activities-bg {
  background-color: var(--primary-white-color);
}

.activities {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.activity {
  position: relative;
}

.activity:not(:nth-child(3n)) {
  margin-right: 30px;
}

.activity-description {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  margin: 0;
  padding: 27px 0;

  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--primary-white-color);

  background: rgba(47, 48, 58, 0.8);
}

/* Team */

.team-bg {
  background: var(--primary-bg-color);
}

.workers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.worker {
  padding-bottom: 30px;

  background-color: var(--primary-white-color);

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker:not(:nth-child(4n)) {
  margin-right: 30px;
}

.worker-picture {
  margin-bottom: 30px;
}

.worker-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.worker-description {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  line-height: 1.19;
}

/* Socials */

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.social {
  display: flex;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--main-icon-color);
  background-color: var(--primary-white-color);

  transition: color 250ms var(--time-function),
    background-color 250ms var(--time-function);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.page-socials .social-link {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.stimulus {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.social-link:hover,
.social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Clients */

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--main-icon-color);

  color: var(--main-icon-color);

  transition: color 250ms var(--time-function),
    border 250ms var(--time-function);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);

  color: var(--accent-color);
}

.icon-client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Footer */

.page-footer {
  padding: 60px 0;

  background-color: var(--accent-bg-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--primary-white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-link[href='mailto:info@devstudio.com'],
.address-link[href='tel:+38096111111'] {
  color: rgba(255, 255, 255, 0.6);
}

/* Form */

/* .form {
  display: flex;
  flex-direction: column;
} */

.form .inner-wrapper {
  display: flex;
}

.input {
  min-width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: var(--primary-white-color);

  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-button {
  display: inline-flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.form-button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Portfolio */

/* Filters */

.filters {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.secondary-button {
  min-width: 73px;
  padding: 6px 22px;
  border: none;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  background-color: var(--primary-bg-color);
  transition: color 250ms var(--time-function),
    background-color 250ms var(--time-function),
    box-shadow 250ms var(--time-function);
}

.secondary-button:focus,
.secondary-button:hover {
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */

.projects-background {
  border-top: 1px solid var(--header-border-color);

  background: var(--primary-white-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  flex-basis: calc((100% - 30px * 2) / 3);
  transition: box-shadow 250ms var(--time-function);
}

.project:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.54px;
  color: #fff;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
}

.project:hover .project-overlay {
  transform: translateY(0);
}

.project .text-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--project-border-color);
  border-top: none;
}

.project-title {
  margin-bottom: 4px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  margin-bottom: 0;

  line-height: 1.88;
}

.project-title,
.project-description {
  margin-top: 0;
  margin-right: 24px;
  margin-left: 24px;
}

/* Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms var(--time-function),
    visibility 250ms var(--time-function);
}

.modal-backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  box-shadow: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 521px;

  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms var(--time-function),
    box-shadow 250ms var(--time-function);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--primary-white-color);
  background-image: url(../images/close-black-18dp.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
