.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__link {
  color: $white-primary;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  &--grey {
    color: rgba(255, 255, 255, 0.6);
  }
}
