.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  min-width: 100%;
  min-height: 100%;

  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms $time-function, visibility 250ms $time-function;

  &--is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}
