.checkbox-group {
  margin-bottom: 30px;

  &__field {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__link {
    margin-left: 4px;

    color: var(--accent-color);
    text-decoration: underline var(--accent-color);
  }
}

.checkbox-group__icon {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  fill: var(--primary-white-color);

  .checkbox-group__input:checked + & {
    fill: var(--accent-color);
    border: none;
  }
}
