.checkbox {
  margin-bottom: 30px;

  &__field {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: normal;
      letter-spacing: 0.36px;
    }

    @media screen and (min-width: 1200px) {
      justify-content: center;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__link {
    margin-left: 4px;

    color: $accent-color;
    text-decoration: underline $accent-color;
  }
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid $text-color-secondary;
  border-radius: 2px;
  fill: $white-primary;

  .checkbox__input:checked + & {
    fill: $accent-color;
    border: none;
  }
}
