.footer {
  padding: 60px 0;

  background-color: $bg-color-secondary;

  &__container {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
  }

  @media screen and (max-width: 1199px) {
    &__inner-wrapper {
      margin-bottom: 60px;
    }
  }

  &__logo {
    @extend %link;
    margin-right: 0;
    margin-bottom: 20px;

    color: $white-primary;
  }

  &__stimulus {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;

    color: $white-primary;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
