.header {
  background-color: $white-primary;

  &__wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      position: relative;

      justify-content: space-between;
      padding: 10px;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
    }
  }
}

.header__link {
  @extend %link;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.28px;
}
