.header {
  background-color: $white-primary;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__button {
    width: 40px;
    height: 40px;
  }

  &__inner-wrapper {
    display: none;
  }
}
