.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__text-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--project-border-color);
    border-top: none;
  }

  &__title {
    margin-bottom: 4px;
    margin-top: 0;

    color: var(--secondary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__description {
    margin: 0;

    line-height: 1.88;
  }
}

.projects__item {
  flex-basis: calc((100% - 30px * 2) / 3);
  transition: box-shadow 250ms var(--time-function);

  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.54px;
  color: #fff;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);

  .projects__item:hover & {
    transform: translateY(0);
  }
}
