.section {
  padding: 60px 0;

  background-color: $white-primary;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &--no-top-padding {
    padding-top: 0;
  }

  &--primary-bg-color {
    background: $bg-color;
  }

  &--bg-color {
    border-top: 1px solid $border-color-secondary;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $text-color-secondary;

    font-weight: 700;
    font-size: 28px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.84px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.16;
      letter-spacing: 1.08px;
    }
  }

  @media screen and (max-width: 1199px) {
    &--hidden {
      display: none;
    }
  }
}
