.workers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;

  &__item {
    padding-bottom: 30px;

    background-color: var(--primary-white-color);

    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  &__picture {
    margin-bottom: 30px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 400;
    line-height: 1.19;
  }
}
