$text-color: #757575;
$text-color-secondary: #212121;

$accent-color: #2196f3;
$accent-active-color: #188ce8;

$bg-color: #f5f4fa;
$bg-color-secondary: #2f303a;

$border-color: #eee;
$border-color-secondary: #ececec;

$icon-color: #afb1b8;

$white-primary: #ffffff;
$black-primary: #000000;

$time-function: cubic-bezier(0.4, 0, 0.2, 1);
