.comment-field {
  margin-bottom: 20px;
}

.comment-field__textarea {
  width: 448px;
  padding: 11px 15px;
  margin-top: 4px;
  resize: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.12px;
  }
}
