.section {
  padding: 94px 0;

  background-color: $white-primary;

  &--no-top-padding {
    padding-top: 0;
  }

  &--primary-bg-color {
    background: $bg-color;
  }

  &--bg-color {
    border-top: 1px solid $border-color-secondary;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $text-color-secondary;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
}
